In [1]:
from collections import Counter
from chorus.data import load_saved_xeno_canto_meta

In [2]:
df = load_saved_xeno_canto_meta()

In [3]:
df.head()

,id,gen,sp,ssp,en,rec,cnt,loc,lat,lng,...,q,length,time,date,uploaded,also,rmk,bird-seen,playback-used,scientific-name
0,203262,Anas,rubripes,,American Black Duck,Andrew Spencer,United States,"Nelson Beach, Plymouth, Plymouth Co., Massachu...",41.9674,-70.6715,...,A,0:09,10:00,2014-11-16,2014-11-23,[],natural vocalization; calls from a phenotypica...,yes,no,Anas rubripes
1,196163,Cardinalis,cardinalis,,Northern Cardinal,Paul Marvin,United States,"Sugarloaf Key, Monroe County, Florida",24.603,-81.5715,...,A,2:18,11:59,2014-07-05,2014-09-21,"[Patagioenas leucocephala, Melanerpes carolinus]",in mangroves,no,no,Cardinalis cardinalis
2,438938,Bubo,virginianus,,Great Horned Owl,Thomas Ryan,United States,"Salt Lake City, Salt Lake County, Utah",40.7425,-111.8617,...,B,0:57,00:06,2018-10-16,2018-10-16,[],Repeated hoots ending with one large call (the...,no,unknown,Bubo virginianus
3,385478,Chlorodrepanis,virens,,Hawaii Amakihi,Ulf Elman,United States,"Waipoli rd, unpaved top section, Maui, Hawaii",20.7123,-156.3029,...,C,0:03,14:57,2017-08-27,2017-09-07,[],Sony PCM-M10 internal microphones with Reinhar...,no,no,Chlorodrepanis virens
4,98178,Clangula,hyemalis,,Long-tailed Duck,Steve Kelling,United States,United States Caroline New York Nocturnal Flig...,42.343,-76.3,...,D,0:08,12 AM- 6 AM,2012-04-04,2012-04-06,[],,unknown,unknown,Clangula hyemalis

In [4]:
df['en'].value_counts().head(10)

Identity unknown        847
Red Crossbill           556
Song Sparrow            552
Northern Cardinal       458
Carolina Wren           424
Spotted Towhee          400
American Robin          385
Bewick's Wren           378
House Wren              367
Red-winged Blackbird    357
Name: en, dtype: int64

In [5]:
df['scientific-name'].value_counts().head(10)

Mystery mystery             847
Loxia curvirostra           556
Melospiza melodia           552
Cardinalis cardinalis       458
Thryothorus ludovicianus    424
Pipilo maculatus            400
Turdus migratorius          385
Thryomanes bewickii         378
Troglodytes aedon           367
Agelaius phoeniceus         357
Name: scientific-name, dtype: int64

In [6]:
true_bird_instances = df['scientific-name'].tolist()
for also in df['also']:
    true_bird_instances.extend(filter(len, also))
Counter(true_bird_instances).most_common(10)

[('Cardinalis cardinalis', 2518),
 ('Agelaius phoeniceus', 2202),
 ('Turdus migratorius', 1883),
 ('Melospiza melodia', 1750),
 ('Zenaida macroura', 1545),
 ('Haemorhous mexicanus', 1327),
 ('Geothlypis trichas', 1321),
 ('Thryothorus ludovicianus', 1300),
 ('Corvus brachyrhynchos', 1267),
 ('Cyanocitta cristata', 1146)]

In [7]:
scientific_to_en = (
    df.drop_duplicates(subset=['scientific-name'])
    .set_index('scientific-name')['en']
    .to_dict()
)

In [8]:
Counter([scientific_to_en.get(bird, 'incidental') for bird in true_bird_instances]).most_common(10)

[('Northern Cardinal', 2518),
 ('Red-winged Blackbird', 2202),
 ('American Robin', 1883),
 ('Song Sparrow', 1750),
 ('Mourning Dove', 1545),
 ('House Finch', 1327),
 ('Common Yellowthroat', 1321),
 ('Carolina Wren', 1300),
 ('American Crow', 1267),
 ('Blue Jay', 1146)]

In [9]:
df_filtered = df.loc[
    df['q'].isin(['A', 'B'])
    & (df['also'].apply(lambda x: x == ['']))
    & (df['en'] != 'Identity unknown')
]

In [10]:
df_filtered['en'].value_counts().head(10)

Song Sparrow            212
Carolina Wren           185
Northern Cardinal       182
American Robin          175
Red Crossbill           162
Red-winged Blackbird    161
House Wren              153
Bewick's Wren           153
Dark-eyed Junco         153
Blue Jay                151
Name: en, dtype: int64

In [11]:
df_filtered['en'].value_counts().head(10).sum()

1687

In [12]:
df_filtered['en'].value_counts().head(20)

Song Sparrow             212
Carolina Wren            185
Northern Cardinal        182
American Robin           175
Red Crossbill            162
Red-winged Blackbird     161
House Wren               153
Bewick's Wren            153
Dark-eyed Junco          153
Blue Jay                 151
Spotted Towhee           140
Tufted Titmouse          130
Great Horned Owl         128
Northern Saw-whet Owl    118
Grey Catbird             116
Northern Mockingbird     108
Marsh Wren               108
American Crow            107
Common Yellowthroat      106
Northern Raven           104
Name: en, dtype: int64

In [13]:
df_filtered['en'].value_counts().head(20).sum()

2852