In [1]:
from collections import Counter
import sys
sys.path.append('..')

from chorus.metadata import xeno_canto, get_sci2en

In [2]:
df = xeno_canto()
sci2en = get_sci2en()

In [3]:
df.shape

(56860, 29)

In [4]:
df.columns

Index(['id', 'gen', 'sp', 'ssp', 'en', 'rec', 'cnt', 'loc', 'lat', 'lng',
       'alt', 'type', 'url', 'file', 'file-name', 'sono', 'lic', 'q', 'length',
       'time', 'date', 'uploaded', 'also', 'rmk', 'bird-seen', 'playback-used',
       'length-seconds', 'scientific-name', 'week'],
      dtype='object')

In [5]:
del df['rec']  # no need for this in eda

In [6]:
df.head()

,id,gen,sp,ssp,en,cnt,loc,lat,lng,alt,...,time,date,uploaded,also,rmk,bird-seen,playback-used,length-seconds,scientific-name,week
0,173694,Setophaga,magnolia,,Magnolia Warbler,United States,"Baxter State Park, Maine",46.0275,-68.9310,650.0,...,17:23,2012-06-04,2014-04-11,"[Setophaga striata, Setophaga ruticilla, Zonot...",,no,no,56,Setophaga magnolia,23.0
1,327078,Ammodramus,bairdii,,Baird's Sparrow,United States,"Soapstone Prairie Natural Area Pronghorn Loop,...",40.9504,-105.0417,1900.0,...,08:30,2016-07-13,2016-07-14,[],Some wind interference. Recording edited for c...,yes,no,21,Ammodramus bairdii,28.0
2,308018,Anas,platyrhynchos,,Mallard,United States,"west end of Pound Road, Niland, Imperial Count...",33.2215,-115.5825,-70.0,...,16:58,2015-04-27,2016-03-22,"[Ixobrychus exilis, Cistothorus palustris]",male/female pair took flight as I got near wit...,yes,no,39,Anas platyrhynchos,17.0
3,416889,Setophaga,striata,,Blackpoll Warbler,United States,"EastPark Industrial Park, Greenup County, Kent...",38.4007,-82.7954,260.0,...,16:35,2018-05-04,2018-05-25,[],"Medium low winds, in knee high damp grass fiel...",yes,no,4,Setophaga striata,18.0
4,163210,Thryomanes,bewickii,,Bewick's Wren,United States,"Indian Painted Rocks, Little Spokane River Nat...",47.7838,-117.5087,700.0,...,12:17,2014-01-04,2014-01-04,[],"2 birds giving ""vit"" calls from the same bush.",yes,no,56,Thryomanes bewickii,1.0

In [7]:
df['en'].unique().size

811

In [8]:
df['en'].value_counts().head(10)

Identity unknown         1115
Song Sparrow              695
Red Crossbill             642
Northern Cardinal         537
Carolina Wren             511
Spotted Towhee            492
American Robin            484
Bewick's Wren             447
Curve-billed Thrasher     447
House Wren                433
Name: en, dtype: int64

In [9]:
true_bird_instances = df['scientific-name'].tolist()
for also in df['also']:
    true_bird_instances.extend(filter(len, also))
Counter(true_bird_instances).most_common(10)

[('Cardinalis cardinalis', 2776),
 ('Agelaius phoeniceus', 2499),
 ('Turdus migratorius', 2281),
 ('Melospiza melodia', 2178),
 ('Zenaida macroura', 1943),
 ('Haemorhous mexicanus', 1575),
 ('Geothlypis trichas', 1520),
 ('Corvus brachyrhynchos', 1467),
 ('Setophaga aestiva', 1451),
 ('Thryothorus ludovicianus', 1439)]

In [10]:
Counter([sci2en[bird] for bird in true_bird_instances]).most_common(20)

[('Northern Cardinal', 2776),
 ('Red-winged Blackbird', 2499),
 ('American Robin', 2281),
 ('Song Sparrow', 2178),
 ('Mourning Dove', 1943),
 ('House Finch', 1575),
 ('Common Yellowthroat', 1520),
 ('American Crow', 1467),
 ('American Yellow Warbler', 1451),
 ('Carolina Wren', 1439),
 ('Spotted Towhee', 1365),
 ('House Wren', 1357),
 ('Blue Jay', 1274),
 ('White-winged Dove', 1267),
 ("Bewick's Wren", 1207),
 ('Northern Mockingbird', 1123),
 ('Identity unknown', 1115),
 ('Yellow-breasted Chat', 1028),
 ("Gambel's Quail", 1027),
 ('Western Meadowlark', 975)]

In [11]:
df['type'].value_counts().head()

song           16810
call           15556
call, song      3016
flight call     2230
male, song      1334
Name: type, dtype: int64

In [12]:
Counter(x for row in df['type'].str.lower().str.split(', ') for x in row).most_common(20)

[('call', 27131),
 ('song', 26637),
 ('male', 5615),
 ('adult', 4813),
 ('flight call', 3983),
 ('sex uncertain', 2938),
 ('alarm call', 1611),
 ('female', 1515),
 ('juvenile', 1205),
 ('begging call', 1008),
 ('life stage uncertain', 686),
 ('drumming', 485),
 ('dawn song', 426),
 ('interaction calls', 282),
 ('uncertain', 189),
 ('subsong', 185),
 ('nocturnal flight call', 143),
 ('flight song', 128),
 ('wing noise', 97),
 ('bill clappering', 86)]